@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url(../fonts/MuseoSansCyrl_100.otf);
  font-weight: 100; }

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url(../fonts/MuseoSansCyrl_300.otf);
  font-weight: 300; }

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url(../fonts/MuseoSansCyrl_500.otf);
  font-weight: 500; }

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url(../fonts/MuseoSansCyrl_700.otf);
  font-weight: 700; }

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url(../fonts/MuseoSansCyrl_900.otf);
  font-weight: 900; }

@font-face {
  font-family: 'PT Sans';
  src: url(../fonts/PT_Sans-Web-Bold.ttf);
  font-weight: 700; }

@font-face {
  font-family: 'PT Sans';
  src: url(../fonts/PT_Sans-Web-Regular.ttf);
  font-weight: 400; }

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/RobotoCondensed-Light.ttf);
  font-weight: 300; }

@font-face {
  font-family: 'PT Sans';
  src: url(../fonts/RobotoCondensed-Regular.ttf);
  font-weight: 400; }

@font-face {
  font-family: 'PT Sans';
  src: url(../fonts/RobotoCondensed-Bold.ttf);
  font-weight: 700; }

@font-face {
  font-family: 'Russo One';
  src: url(../fonts/Russo-One.ttf);
  font-weight: 700; }

::-moz-selection {
  background: rgba(0, 0, 0, 0.2);
  color: #000;
  text-shadow: 1px 1px 1px #fff; }

::selection {
  background: rgba(0, 0, 0, 0.2);
  color: #000;
  text-shadow: 1px 1px 1px #fff; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  text-align: center; }

p, li, a, div, span {
  font-size: 16px;
  font-weight: 300;
  font-family: 'Museo Sans Cyrl', sans-serif; }

a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none; }

.bg-image {
  background: url("../img/header.jpg") 50% 50% no-repeat;
  background-size: cover; }

.section-1 {
  background: -webkit-radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHUlEQVQIW2NkwAIY8Qr6MfjVb2LY1AhShF8lsjEAlxADBl+BNGUAAAAASUVORK5CYII=") repeat;
  background: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHUlEQVQIW2NkwAIY8Qr6MfjVb2LY1AhShF8lsjEAlxADBl+BNGUAAAAASUVORK5CYII=") repeat;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh; }
  .section-1 h1 {
    position: relative;
    font-size: 96px;
    color: #fff;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
    background: rgba(36, 3, 41, 0.6);
    padding: .5em 1em;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 3px solid #fff;
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
            box-shadow: 0 0 25px rgba(0, 0, 0, 0.4); }
    .section-1 h1 small {
      color: inherit;
      font-size: 48px; }
    .section-1 h1:after {
      content: "";
      position: absolute;
      bottom: -13px;
      left: 50%;
      margin-left: -10px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 10px 0 10px;
      border-color: #fff transparent transparent transparent; }
  .section-1 .bounce {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -30px;
    width: 60px;
    height: 60px;
    -webkit-animation: bounce 2s ease infinite;
            animation: bounce 2s ease infinite; }
    .section-1 .bounce svg {
      fill: #fff; }
    .section-1 .bounce a {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0; }

@keyframe bounce {
  0% {
    bottom: 30px; }
  50% {
    bottom: 60px; }
  100% {
    bottom: 30px; } }

.section-2 {
  padding: 60px 0;
  background: #F6F8F8; }
  .section-2 h2 {
    margin-bottom: 60px; }

.product {
  background: #fff;
  position: relative;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  overflow: hidden;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); }
  .product:hover h3 {
    color: #fff;
    background: #2C97DE; }
  .product:hover input[type="submit"] {
    background: #F4D33B;
    border-color: #F4D33B;
    text-shadow: 1px 1px 1px #fff, 2px 2px 1px rgba(0, 0, 0, 0.2); }
  .product h3 {
    padding: 7px 10px;
    line-height: 1.5em;
    margin: 0 0;
    -webkit-transition: .1s;
    transition: .1s; }
  .product img {
    width: 100%;
    height: auto; }
  .product .hover-content table {
    width: 100%; }
    .product .hover-content table thead th {
      text-align: center;
      padding: 5px; }
    .product .hover-content table tr:nth-child(even) {
      background: #f7f7f7; }
    .product .hover-content table tr td {
      padding: 3px 14px;
      color: #7f7f7f;
      font-size: 14px; }
      .product .hover-content table tr td:last-child {
        text-align: right; }
  .product .price {
    color: #17843a;
    font-size: 32px;
    font-weight: 500;
    font-family: 'Museo Sans', sans-serif;
    text-align: center;
    padding: 10px 0; }
  .product input[type="submit"] {
    border: 1px solid #fff;
    background: #fff;
    padding: 7px 10px;
    line-height: 1.5em;
    width: 100%;
    -webkit-transition: .1s;
    transition: .1s;
    font-size: 18px; }
