@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url(../fonts/MuseoSansCyrl_100.otf);
  font-weight: 100; }

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url(../fonts/MuseoSansCyrl_300.otf);
  font-weight: 300; }

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url(../fonts/MuseoSansCyrl_500.otf);
  font-weight: 500; }

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url(../fonts/MuseoSansCyrl_700.otf);
  font-weight: 700; }

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url(../fonts/MuseoSansCyrl_900.otf);
  font-weight: 900; }

@font-face {
  font-family: 'PT Sans';
  src: url(../fonts/PT_Sans-Web-Bold.ttf);
  font-weight: 700; }

@font-face {
  font-family: 'PT Sans';
  src: url(../fonts/PT_Sans-Web-Regular.ttf);
  font-weight: 400; }

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/RobotoCondensed-Light.ttf);
  font-weight: 300; }

@font-face {
  font-family: 'PT Sans';
  src: url(../fonts/RobotoCondensed-Regular.ttf);
  font-weight: 400; }

@font-face {
  font-family: 'PT Sans';
  src: url(../fonts/RobotoCondensed-Bold.ttf);
  font-weight: 700; }

@font-face {
  font-family: 'Russo One';
  src: url(../fonts/Russo-One.ttf);
  font-weight: 700; }

body {
  overflow-x: hidden; }

input {
  outline: none; }

::-moz-selection {
  background: rgba(0, 0, 0, 0.2);
  color: #000;
  text-shadow: 1px 1px 1px #fff; }

::selection {
  background: rgba(0, 0, 0, 0.2);
  color: #000;
  text-shadow: 1px 1px 1px #fff; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  text-align: center; }

p, li, a, div, span {
  font-size: 16px;
  font-weight: 300;
  font-family: 'Museo Sans Cyrl', sans-serif; }

a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none; }

.flex-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.header {
  background: #2C97DE;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  z-index: 10; }
  .header h1 {
    margin: 0;
    color: #fff; }
  .header .phone {
    text-align: right; }
    .header .phone p {
      margin: 0;
      line-height: 1.6em;
      color: #fff;
      font-family: 'Museo Sans Cyrl', sans-serif;
      font-weight: 100;
      font-size: 18px; }

.oblako {
  position: absolute;
  background: #F4D33B;
  width: 300px;
  height: 300px;
  padding: 90px 0 0 53px;
  top: -80px;
  right: -80px;
  z-index: 30;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  z-index: 90;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .oblako p {
    color: #3b4952;
    font-size: 32px;
    position: relative;
    z-index: 200;
    font-family: 'Museo Sans Cyrl';
    font-weight: 700; }
    .oblako p span {
      font-size: 48px;
      font-family: inherit;
      font-weight: 900; }

.bg-image {
  background: #2C97DE;
  position: relative;
  z-index: 20;
  overflow: hidden; }
  .bg-image .xiaomi_1 {
    display: block;
    position: absolute;
    bottom: -150px;
    left: -260px; }

img.socket {
  display: block;
  position: relative;
  width: 100%;
  max-width: 500px;
  height: auto; }

.section-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  width: 100vw;
  height: 100vh; }
  .section-1 h2 {
    position: relative;
    font-size: 96px;
    color: #fff;
    padding: .5em 1em;
    width: 100%; }
    .section-1 h2 small {
      color: inherit;
      font-size: 48px; }
  .section-1 .bounce {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -30px;
    width: 60px;
    height: 60px;
    -webkit-animation: bounce 2s ease infinite;
            animation: bounce 2s ease infinite; }
    .section-1 .bounce svg {
      fill: #fff; }
    .section-1 .bounce a {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0; }

@keyframe bounce {
  0% {
    bottom: 30px; }
  50% {
    bottom: 60px; }
  100% {
    bottom: 30px; } }

.why {
  padding: 100px 0 60px; }
  .why h2 {
    margin-bottom: 60px; }
  .why .why_img {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px; }

.section-2 {
  padding: 60px 0;
  background: #F6F8F8;
  padding-top: 100px; }
  .section-2 h2 {
    margin-bottom: 60px; }

.about_us {
  padding: 100px 0 60px; }
  .about_us h2 {
    margin-bottom: 60px; }
  .about_us img {
    width: 100%;
    height: auto; }
  .about_us h4 {
    color: #2C97DE; }

.product {
  background: #fff;
  position: relative;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  overflow: hidden;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); }
  .product:hover h3 {
    color: #fff;
    background: #2C97DE; }
  .product:hover input[type="submit"] {
    background: #F4D33B;
    border-color: #F4D33B;
    text-shadow: 1px 1px 1px #fff, 2px 2px 1px rgba(0, 0, 0, 0.2); }
  .product h3 {
    padding: 7px 10px;
    line-height: 1.5em;
    margin: 0 0;
    -webkit-transition: .1s;
    transition: .1s; }
  .product img {
    width: 100%;
    height: auto; }
  .product .hover-content table {
    width: 100%; }
    .product .hover-content table thead th {
      text-align: center;
      padding: 5px; }
    .product .hover-content table tr:nth-child(even) {
      background: #f7f7f7; }
    .product .hover-content table tr td {
      padding: 3px 14px;
      color: #7f7f7f;
      font-size: 14px; }
      .product .hover-content table tr td:last-child {
        text-align: right; }
  .product .price {
    color: #17843a;
    font-size: 32px;
    font-weight: 500;
    font-family: 'Museo Sans Cyrl', sans-serif;
    text-align: center;
    padding: 10px 0; }
  .product input[type="submit"] {
    border: 1px solid #fff;
    background: #fff;
    padding: 7px 10px;
    line-height: 1.5em;
    width: 100%;
    -webkit-transition: .1s;
    transition: .1s;
    font-size: 18px; }

.footer {
  background: #2C97DE;
  padding: 12px 0 5px; }
  .footer .right {
    text-align: right; }
  .footer a {
    color: #fff;
    -webkit-transition: .2s;
    transition: .2s; }
    .footer a:hover {
      color: #F4D33B; }
  .footer p {
    color: #fff; }

#Container .mix {
  display: none; }

#toTop {
  width: 100px;
  text-align: center;
  padding: 10px 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  display: none;
  color: #fff;
  font-size: 16px;
  z-index: 9999;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background: #2C97DE;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: 100;
  font-size: 18px; }

.modal-content {
  -webkit-border-radius: 0;
          border-radius: 0;
  background: url("../img/call.jpg") center center;
  background-size: cover;
  position: relative;
  border: 0;
  min-height: 300px;
  min-width: 700px; }
  .modal-content h4 {
    color: #fff;
    font-weight: 700;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }
