$white: #fff;
$black: #000;
$grey: #989898;
$main-color: #8D0BA0;
$green: #17843a;
$yellow: #F4D33B;
$blue: #2C97DE;

$font-size: 16px;

@import "_fonts";

body {
	overflow-x: hidden;
}

input {
	outline: none;
}

::selection {
  background: rgba($black, .2);
  color: $black;
  text-shadow: 1px 1px 1px $white;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

p,li,a,div,span {
  font-size: $font-size;
  font-weight: 300;
  font-family: 'Museo Sans Cyrl', sans-serif;
}

a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
}

.flex-center {
	display: flex;
	align-items: center;
}


.header {
	background: $blue;
	box-shadow: 0 0 10px rgba($black, .3);
	position: fixed;
	width: 100%;
	z-index: 10;
	h1 {
		margin: 0;
		color: $white;
	}
	.phone {
		text-align: right;
			p {
			margin: 0;
			line-height: 1.6em;
			color: $white;
			font-family: 'Museo Sans Cyrl', sans-serif;
			font-weight: 100;
			font-size: $font-size + 2px;
		}
	}
}

.oblako {
	position: absolute;
	background: $yellow;
	width: 300px;
	height: 300px;
	padding: 90px 0 0 53px;
	top: -80px;
	right: -80px;
	z-index: 30;
	border-radius: 50%;
	z-index: 90;
	transform: rotate(45deg);
	display: flex;
	text-align: center;
	align-items: center;
	p {
		color: #3b4952;
		font-size: $font-size * 2;
		position: relative;
		z-index: 200;
		font-family: 'Museo Sans Cyrl';
		font-weight: 700;
		span {
			font-size: $font-size * 3;
			font-family: inherit;
			font-weight: 900;
		}
	}
}

.bg-image {
	background: $blue;
	position: relative;
	z-index: 20;
	overflow: hidden;
	.xiaomi_1 {
		display: block;
		position: absolute;
		bottom: -150px;
		left: -260px;
	}
}

img.socket {
	display: block;
	position: relative;
	width: 100%;
	max-width: 500px;
	height: auto;
}

.section-1 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	align-content: center;
	width: 100vw;
	height: 100vh;

	h2 {
		position: relative;
		font-size: $font-size * 6;
		color: $white;
		padding: .5em 1em;
		width: 100%;

		small {
			color: inherit;
			font-size: $font-size * 3;
			color: $yellow;
		}
	}

	.bounce {
		position: absolute;
		bottom: 30px;
		left: 50%;
		margin-left: -30px;
		width: 60px;
		height: 60px;
		animation: bounce 2s ease infinite;

		svg {
			fill: $white;
		}

		a {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}
	}
}

@keyframe bounce {
	0% {bottom: 30px}
	50% {bottom: 60px}
	100% {bottom: 30px}
}

.why{
	padding: 100px 0 60px;

	h2{
		margin-bottom: 60px;
	}

	.why_img {
		position: relative;
		display: block;
		margin: 0 auto;
		margin-bottom: 30px;
	}
}

.section-2 {
	padding: 60px 0;
	background: #F6F8F8;
	padding-top: 100px;

	h2 {
		margin-bottom: 60px;
	}
}

.about_us {
	padding: 100px 0 60px;
	background: #F6F8F8;
	h2{
		margin-bottom: 60px;
	}
	img {
		width: 100%;
		height: auto;
		border-radius: 50%;
		border: 5px solid darken($white, 10%);
		padding: 5px;
	}
	h4 {
		color: $blue;
	}
	.owl-prev,
	.owl-next {
		position: absolute;
		bottom: 0;
		left: 0;
		background: $blue;
	}
}

.how_we_work {
	padding: 60px 0;
	padding-top: 100px;
	h3 {
		color: $blue;
	}
	.line-left {
		width: 80%;
		margin: 0 auto;
		img {
			width: 100%;
			height: auto;
		}
	}
	.col-md-3 {
		padding: 20px;
	}
}

.product {
	background: $white;
	position: relative;
	border-radius: 3px;
	overflow: hidden;
	margin-bottom: 30px;
	box-shadow: 0 0 15px rgba($black, .1);

	&:hover {
		h3 {
			color: $white;
			background: $blue;
		}
		input[type="submit"] {
			background: $yellow;
			border-color: $yellow;
			text-shadow: 1px 1px 1px $white, 2px 2px 1px rgba($black, .2);
		}
	}

	h3 {
		padding: 7px 10px;
		line-height: 1.5em;
		margin: 0 0;
		transition: .1s;
	}

	img {
		width: 100%;
		height: auto;
	}

	.hover-content {

		table {
			width: 100%;

			thead {

				th {
					text-align: center;
					padding: 5px;
				}
			}

			tr {

				&:nth-child(even) {
					background: darken($white, 3%);
				}

				td {
					padding: 3px 14px;
					color: darken($grey, 10%);
					font-size: $font-size - 2px;
					&:last-child {
						text-align: right;
					}
				}
			}
		}
	}

	.price {
		color: $green;
		font-size: $font-size * 2;
		font-weight: 500;
		font-family: 'Museo Sans Cyrl', sans-serif;
		text-align: center;
		padding: 10px 0;
	}

	input[type="submit"] {
		border: 1px solid $white;
		background: $white;
		padding: 7px 10px;
		line-height: 1.5em;
		width: 100%;
		transition: .1s;
		font-size: $font-size + 2px;
	}
}

.footer {
	background: $blue;
	padding: 12px 0 5px;
	.right {
		text-align: right;
	}
	a {
		color: $white;
		transition: .2s;
		&:hover {
			color: $yellow;
		}
	}
	p {
		color: $white;
	}
}


#Container .mix{
    display: none;
}

#toTop {
	width:100px;
	text-align:center;
	padding: 10px 20px;
	position:fixed;
	bottom:20px;
	right:20px;
	cursor:pointer;
	display:none;
	color:$white;
	font-size:16px;
	z-index: 100;
	border-radius: 3px;
	background: $blue;
	box-shadow: 0 0 10px rgba($black, .3);
	font-family: 'Museo Sans Cyrl', sans-serif;
	font-weight: 100;
	font-size: 18px;
}

.modal-content {
	border-radius: 0;
	background: $blue;
	position: relative;
	text-align: center;
	h4 {
		color: $white;
		font-weight: 500;
	}
	p {
		color: darken($white, 5%);
		font-size: $font-size + 1px;
		padding: 10px;
	}
	input {
		border: 0;
		width: 50%;
		margin-bottom: 10px;
		text-align: center;
	}
	input[type="text"] {
		font-size: $font-size + 4px;
		padding: 7px 10px;
	}
	input[type="submit"] {
		font-size: $font-size + 4px;
		padding: 7px 10px;
		transition: .2s;
		font-family: 'PT Sans', sans-serif;
		&:hover {
			background: $yellow;
		}
	}
	.modal-header {
		border-bottom: 1px solid lighten($blue, 10%);
	}
	.modal-body {
		border-top: 1px solid darken($blue, 10%);
	}
}

.modal-dialog {
	margin: 20vh auto;
}
