$white: #fff;
$black: #000;
$grey: #989898;
$main-color: #8D0BA0;
$green: #17843a;
$yellow: #F4D33B;
$blue: #2C97DE;

$font-size: 16px;

@import "_fonts";

::selection {
  background: rgba($black, .2);
  color: $black;
  text-shadow: 1px 1px 1px $white;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

p,li,a,div,span {
  font-size: $font-size;
  font-weight: 300;
  font-family: 'Museo Sans Cyrl', sans-serif;
}

a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
}

.bg-image {
	background: url('../img/header.jpg') 50% 50% no-repeat;
	background-size: cover;
}

.section-1 {
	background: radial-gradient(rgba(0,0,0,.2), rgba(0,0,0,.7)),
				url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHUlEQVQIW2NkwAIY8Qr6MfjVb2LY1AhShF8lsjEAlxADBl+BNGUAAAAASUVORK5CYII=') repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;

	h1 {
		position: relative;
		font-size: $font-size * 6;
		color: $white;
		text-shadow: 0 0 15px rgba($black, .9);
		background: rgba(darken($main-color, 25%), .6);
		padding: .5em 1em;
		border: 1px solid rgba($white, .3);
		border-bottom: 3px solid $white;
		box-shadow: 0 0 25px rgba($black, .4);

		small {
			color: inherit;
			font-size: $font-size * 3;
		}

		&:after {
			content: "";
			position: absolute;
			bottom: -13px;
			left: 50%;
			margin-left: -10px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 10px 10px 0 10px;
			border-color: $white transparent transparent transparent;
		}
	}

	.bounce {
		position: absolute;
		bottom: 30px;
		left: 50%;
		margin-left: -30px;
		width: 60px;
		height: 60px;
		animation: bounce 2s ease infinite;

		svg {
			fill: $white;
		}

		a {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}
	}
}

@keyframe bounce {
	0% {bottom: 30px}
	50% {bottom: 60px}
	100% {bottom: 30px}
}

.section-2 {
	padding: 60px 0;
	background: #F6F8F8;

	h2 {
		margin-bottom: 60px;
	}
}

.product {
	background: $white;
	position: relative;
	border-radius: 3px;
	overflow: hidden;
	margin-bottom: 30px;
	box-shadow: 0 0 15px rgba($black, .1);

	&:hover {
		// border: 1px solid $blue;
		h3 {
			color: $white;
			background: $blue;			
		}
		input[type="submit"] {
			background: $yellow;
			border-color: $yellow;
			text-shadow: 1px 1px 1px $white, 2px 2px 1px rgba($black, .2);
		}
	}

	h3 {
		padding: 7px 10px;
		line-height: 1.5em;
		margin: 0 0;
		transition: .1s;
	}

	img {
		width: 100%;
		height: auto;
	}

	.hover-content {

		table {
			width: 100%;

			thead {

				th {
					text-align: center;
					padding: 5px;
				}
			}

			tr {

				&:nth-child(even) {
					background: darken($white, 3%);
				}

				td {
					padding: 3px 14px;
					color: darken($grey, 10%);
					font-size: $font-size - 2px;
					&:last-child {
						text-align: right;
					}
				}
			}

		}
	}

	.price {
		color: $green;
		font-size: $font-size * 2;
		font-weight: 500;
		font-family: 'Museo Sans', sans-serif;
		text-align: center;
		padding: 10px 0;
	}

	input[type="submit"] {
		border: 1px solid $white;
		background: $white;
		padding: 7px 10px;
		line-height: 1.5em;
		width: 100%;
		transition: .1s;
		font-size: $font-size + 2px;
	}
}